body {
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.048);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

header {
  padding: 15px 40px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.title p {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-right: 40px;
}

nav a {
  text-decoration: none;
  color: black;
  margin: 0 15px;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
}

nav a:hover {
  color: #4a90e2;
  background-color: #f0f7ff;
  transition: 0.3s;
}

.foto_prifile {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

main {
  max-width: 1200px;
  padding: 30px 20px;
}

.main_title {
  margin-bottom: 40px;
}

.main_title h1 {
  font-size: 32px;
  color: black;
}

.main_pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.cards {
  display: flex;
  gap: 25px;
  justify-content: flex-start;
  justify-content: center;
}

.card {
  width: 330px;
  height: 150px;
  background: #fff;
  border-radius: 22px;
  padding: 25px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.05);
}

.pages-box {
  width: 60px;
  height: 60px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages-box img {
  width: 100px;
  height: 100px;
}

.card h2 {
  font-size: 22px;
  font-weight: 600;
}

.card p {
  font-size: 16px;
  color: #4d4d4d;
  margin-top: 4px;
}

.table_h1 {
  margin-top: 40px;
}
table {
  width: 100%;
  margin-top: 50px;
  border-collapse: collapse;
  font-family: sans-serif;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  overflow: hidden;
}

th,
td {
  padding: 12px 16px;
  border: 1px;
  border-bottom: 1px solid #e5e7eb;
}

th {
  background: #f3f4f6;
  text-align: left;
  font-size: 600;
}

tr:hover {
  background: #f9fafb;
  padding: 30px;
  border-radius: 20px;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 20px;
}
